.app {
    background-color: #3be384;
    border-radius: 1rem;
    height: 600px;
    width: 500px;
    padding: 1.2rem;
    margin: 100px auto;
    color: white; 
}

#title {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 2rem;
}

.inputContainer {
    border-radius: 1.4rem;
    padding: 0 0.8rem;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.label {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

.totalInput {
    background-color: #182a3d;
    color: white;
    border: none;
    outline:none;
    padding: none;
    border-radius: 1.5rem;
    font-size: 1.5rem;
}

.inputAmount {
    border: 1px inset #ccc;
    border-radius: 1.5rem;
    background-color: #182a3d;
    padding-left: 10px;
    font-size: 1.5rem;
    width: 100%;
}

.tipInput {
    background-color: #182a3d;
    color: white;
    border: none;
    outline:none;
    padding-left: 3px;
    border-radius: 1.5rem;
    font-size: 1.5rem;
}

.button {
    background-color: #182a3d;
    color: white;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    font-size: 1.2rem;
}

.numberOfPeople {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.3rem;
}

.buttonContainer {
    display: flex;
    padding: 0 0.8rem;
    padding-top: 6px;
}

.totalContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}
